/* Mobile First CSS  */
.roundButton{
background:#17a3fa;
color:white;
font-family: Helvetica;
border: none;
font-size: 16px;
padding: 13px 20px; 
width: 290px;
border-radius: 30px;
text-align:center;
font-weight: 900;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
user-select: none;

}
.darkButton{
    background: #333;
    color: #fff; 
    padding: 12px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 235px;
    font-family: Helvetica;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
    overflow: hidden;
    user-select: none;



}

.lightButton{
    color: #fff; 
    border: 1px solid #333; 
    padding: 10px 20px; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 28px; 
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 900;
    background-color: #42B0F4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
    overflow: hidden;
    user-select: none;


}

.borderRadius{
    border-radius: 30px;
    border: none;
}

@media only screen and (min-width : 1024px) {
.roundButton{
    background:#17a3fa;
    color:white;
    font-family: Helvetica;
    border: none;
    font-size: 16px;
    padding: 13px 20px; 
    width: 215px;
    border-radius: 20%;
    text-align:center;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
    overflow: hidden;
    user-select: none;
}
.darkButton{
    background: #333;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 215px;
    font-family: Helvetica;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
    overflow: hidden;
    user-select: none;
}
.lightButton{
    background-color: #42B0F4;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 215px;
    font-family: Helvetica;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
    overflow: hidden;
    user-select: none;


}
.borderRadius{
    border-radius: 30px;
    border: none;
}
}
@media only screen and (min-width : 1920px) {
    .roundButton{
        background:#17a3fa;
        color:white;
        padding: 10px 20px; 
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 220px;
        font-family: Helvetica;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
        overflow: hidden;
        user-select: none;
    }
    .darkButton{
        background: #333;
        color: #fff; 
        padding: 10px 20px; 
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 220px;
        font-family: Helvetica;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
        overflow: hidden;
        user-select: none;
    }
    .lightButton{
        width: 25%;
        background-color: #42B0F4;
        color: #fff; 
        padding: 10px 20px; 
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 220px;
        font-family: Helvetica;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px rgba(0, 0.3, 0.3, 0.7);
        overflow: hidden;
        user-select: none;
    }
    .borderRadius{
        border-radius: 30px;
        border: none;
    }
}



.lightButton:disabled{
    opacity: 0.5;
    cursor:default;
    pointer-events: none;
}
.lightButton:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    background-color: #16c00a;
}
.lightButton:active{
    background-color: #c2185b;
    box-shadow: none;
}
.darkButton:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    background-color: #16c00a;

}
.darkButton:disabled{
    opacity: 0.70;
    cursor: default;
    pointer-events: none;
}
.darkButton:active{
    background-color: #c2185b;
    box-shadow: none;

}

.roundButton:disabled{
    opacity: 0.55;
    cursor: default;
    pointer-events: none;
}
 
.roundButton:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    background-color: #16c00a;
}

.roundButton:active{
    background-color:#c2185b;
    box-shadow: none;

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.icon{
    text-align: center;
    align-items: center;
}

.RTL{
    direction: rtl;
    ;
}

.icon_img{
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button_shadow{
    box-shadow: 1px 1px 10px rgba(201, 15, 15, 0.9);
}

.RTL_Label{
    font-family: 'Arial';
    font-weight: 900;
    font-size: 16px;
}