/* Mobile First CSS  */
.roundButton{
background:#17a3fa;
color:white;
font-family: Helvetica;
border: none;
font-size: 16px;
padding: 13px 20px; 
width: 65%;
border-radius: 30px;
text-align:center;
font-weight: 900;
display: flex;
align-items: center;
justify-content: center;
}
.darkButton{
    background: #333;
    color: #fff; 
    padding: 12px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:65%;
    font-family: Helvetica;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightButton{
    width: 65%;
    color: #fff; 
    border: 1px solid #333; 
    padding: 10px 20px; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 900;
    background-color: #42B0F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borderRadius{
    border-radius: 30px;
    border: none;
}

@media only screen and (min-width : 1024px) {
.roundButton{
    background:#17a3fa;
    color:white;
    font-family: Helvetica;
    border: none;
    font-size: 16px;
    padding: 13px 20px; 
    width: 30%;
    border-radius: 20%;
    text-align:center;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.darkButton{
    background: #333;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 20%;;
    font-family: Helvetica;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightButton{
    background-color: #42B0F4;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 20%;;
    font-family: Helvetica;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;


}
.borderRadius{
    border-radius: 30px;
    border: none;
}
}
@media only screen and (min-width : 1920px) {
    .roundButton{
        background:#17a3fa;
        color:white;
        padding: 10px 20px; 
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 20%;;
        font-family: Helvetica;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .darkButton{
        background: #333;
        color: #fff; 
        padding: 10px 20px; 
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 20%;;
        font-family: Helvetica;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lightButton{
        width: 25%;
        background-color: #42B0F4;
        color: #fff; 
        padding: 10px 20px; 
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 20%;;
        font-family: Helvetica;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .borderRadius{
        border-radius: 30px;
        border: none;
    }
}



.lightButton:disabled{
    opacity: 0.5;
    cursor:default;
    pointer-events: none;
}
.lightButton:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.lightButton:active{
    background-color: #c2185b;
}
.darkButton:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.darkButton:disabled{
    opacity: 0.70;
    cursor: default;
    pointer-events: none;
}
.darkButton:active{
    background-color: #c2185b;
}

.roundButton:disabled{
    opacity: 0.55;
    cursor: default;
    pointer-events: none;
}
.roundButton:active{
    background-color: #c2185b;
}
.roundButton:hover{
    background-color: #c2185b;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.icon{
    text-align: center;
    align-items: center;
}

.RTL{
    direction: rtl;
}

.icon_img{
    width: 34px;
    height: 34px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}