.container{
display: flex;
flex-direction:row;
position: relative;
width: 90vh;
gap:5px;
align-items: center;
margin-top: 10px;


}
.input{
padding: 14px 16px 0 10px;
outline: 0;
border-radius: 4px;
background: #fff;
font-size: 16px;
margin-bottom: 3px;
display: flex;
}
.input:focus{
box-shadow: 0 0 5px rgb(40, 130, 220);
border: 1px solid rgb(25, 88, 215);
}
.label{
font-size: 16px;
color: #181616;
font-family:Helvetica, Arial sans-serif;
white-space:nowrap;
font-weight: 900;
}
.RTL{
direction: rtl ;
} 
.disabled{
opacity: 0.10;
}

.placeholder{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
color: #999;
pointer-events: none;
position: absolute;
right: 365px;
top: -5px;
}

