.container{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 90vh;
    position: relative;
}
.label{
font-family:  Helvetica, sans-serif Arial, ;
font-weight: 800;
font-size: 16px;
display: flex;
flex-direction: column;
gap: 7px;
}

.text_area{
    display: flex;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 900;
}
.RTL{
    direction: rtl ;
}