.container{
display: flex;
flex-direction:row;
position: relative;
width: 90vh;
gap:5px;
align-items: center;


}
.input{
width: 100%;
height: 56px;
padding: 14px 16px 0 10px;
outline: 0;
border: 1px solid #181616;
border-radius: 4px;
background: #fff;
font-size: 16px;
margin-bottom: 3px;
}
.label{
font-size: 16px;
color: #181616;
font-family:Helvetica, Arial sans-serif;
white-space:nowrap;
/* pointer-events: none; */
/* position: absolute; */
/* transform-origin: top left; */
/* transition: all 0.2s ease-out; */
/* margin-top: 4px; */
}
/* 
.label:focus-within{
transform: translate(0, 12px) scale(0.75);
} */

/* .input:focus{
outline: none !important;
border:1px solid black;
box-shadow: 0 0 10px #719ECE;
} */
.RTL{
direction: rtl ;
} 
.disabled{
opacity: 0.10;
}