.container{
display: flex;
flex-direction: column;
min-width: 350px;
position: relative;

}
.input{
width: 100%;
height: 56px;
padding: 14px 16px 0 10px;
outline: 0;
border: 1px solid #ddd;
border-radius: 4px;
background: #fff;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px 
}
.label{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
padding: 0 ,1px;
color: #999;
pointer-events: none;
position: absolute;
transform-origin: top left;
transition: all 0.9s ease-out;
}

label:focus-within label {
transform: translate(0, 12px) scale(0.75);
}

.IsDisabled{
    opacity: 0.55;
}