.container{
    width: 100%;
}
.disabled{
    opacity: 0.55;
    pointer-events: none;
}

.label{
    font-family:  Helvetica;
    font-weight: 800;
    font-size: 16px;
    width: 100%;
    }

.input_style{
    font-family:  Helvetica;
    font-weight: 800;
    font-size: 16px;
    cursor: default;
    
}

.RTL{
    direction: rtl;
}

.LTR{
    direction: ltr;
}