/* Mobile First */
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    height: 90vh;
    width: 100%;
}

.input_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui_div{
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}