/* Mobile First */
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    gap: 20px;
    height: 90vh;
}
.title{
    font-family: Helvetica;
    font-size: 20px;
    color: black;
    margin-top: 30px;
}
.sub_title{
    display: flex;
    font-family:Helvetica;
    font-weight: bold;
}
.input_components{
    font-family:Helvetica;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.examples{
    display: flex;
    gap: 10px;
    
}
   


/* Large Screen */
@media only screen and (min-width : 1024px){
    .container{
        height: 100vh;
        overflow-y: hidden;
    }
    .sub_title{
        display: flex;
        margin-left: 10px;
        flex-direction: column;
    }
    .input_components{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .examples{
        display: flex;
        gap: 10px;
    }
    
}