/* Mobile First */
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    height: 90vh;
    width: 100%;
}

.input_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ui_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.components_examples{
    display: flex;
    gap: 5px;
    margin-top: 1px;
}
.p1{
    font-family:  Helvetica;
    font-weight: 800;
    font-size: 16px;
    cursor: default;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: Helvetica
}
.H2{
    font-family:  Helvetica;
    font-size: 30px;
    font-weight: 700;
}


/* Laptop Screens  */
@media only screen and (min-width : 1024px){
    
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        font-family: Helvetica
    }
    .H2{
        font-family:  Helvetica;
        font-size: 30px;
        font-weight: 700;
    }
        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
        }
        .input_div{
           display: flex;
           flex-direction: column;
           align-items: flex-start;
        }
        .ui_div{
            display: flex;
            align-items: flex-start;
        }
        .components_examples{
            display: flex;
            gap: 5px;
            flex-direction: row;
        }

        .ol1{
            padding: 0px;
            margin: 25px;
        }
        
    
        
}


@media only screen and (min-width : 1920px) {
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .H2{
        font-family:  Helvetica;
        font-size: 30px;
        font-weight: 700;
    }
        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
        }
        .input_div{
           display: flex;
           flex-direction: column;
           align-items: flex-start;
        }
        .ui_div{
            display: flex;
            align-items: flex-start;
        }
    
}











