.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh; 
  overflow-y: hidden;
}
.img_title{
  display: flex;
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.button_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  background-color: #42B0F4;
  width: 250px;
  height: 64px;
  background: #42B0F4;
  border-radius: 70px;
  border: none;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
}
.img_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 100%;
  position: relative;
}
.lower_img{
  margin-top: 20px;
  position: absolute;
  bottom: -110px; ;
  max-width: 100%;
}

.inside_div{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}