.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh; 
  overflow-y: hidden;
}
.inside_div{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img_title{
  display: flex;
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 30px;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.button_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -220px;
}
.button{
  background-color: #42B0F4;
  width: 330px;
  height: 64px;
  background: #42B0F4;
  border-radius: 70px;
  border: none;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
  margin: 5px;
}
.img_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 100%;
  position: relative;
}
.lower_img{
  margin-top: -153px;
  position: absolute;
  bottom: -190px; ;
  max-width: 100%;
}
@media (min-width: 767px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80vh; 
    overflow-y: hidden;
  }
  .img_title{
    margin-top: 55px;
    font-family: Helvetica;
    font-size: 30px;
    color: #000;
    justify-content: center;
    gap: 25px;
    
  }
  .button{
    background-color: #42B0F4;
    width: 380px;
    height: 64px;
    background: #42B0F4;
    border-radius: 70px;
    border: none;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
  }
  .img_div{
    height: 50%;
    width: 100%;
    position: relative;
  }
  .button_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -395px;
}
  }

